AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nechej API a existující soubory/složky být
    RewriteCond %{REQUEST_URI} ^/api/ [OR]
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Zbytek (SPA routy) směřuj na index.html
    RewriteRule ^ index.html [L]
</IfModule>
